.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);
  }
  
  form {
    display: grid;
    gap: 1rem;
    width: 300px;
  }
  
  input {
    width: 100%;
  }
  
  .error-message {
    color: red;
    padding: 0.5rem;
    font-size: 14px;
  }